// 記事一覧
.post-list {
  &-title {
    margin-bottom: var(--spacing-2);
    margin-top: var(--spacing-0);
    color: #000;
    font-size: 17px;
    font-weight: 550;
    line-height: 24px;
    text-decoration: underline;
  }
}

// 個別記事
.main {
  &-body {
    padding-bottom: 20px;
    background-color: #f8f7f3;
    // モバイルファーストにする
    // display: flex;
    // justify-content: center;
  }
}

.custom {
  &-wrapper {
    // モバイルファーストにする
    // max-width: 1440px;
    padding: 40px 0 0;
  }

  &-header {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    // モバイルファーストにする
    // max-width: 1440px;
    max-width: 672px;
    min-width: 320px;
    padding: 10px 10px;
    text-align: center;
    background: #fff;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;

    > a {
      width: 100%;
      color: #ff444f;
      font-size: 18px;
      font-weight: bold;
      font-family: YuGothic;
      text-align: left;
      text-decoration: none;
    }
  }

  &-main {
    padding: 30px 20px 0;
    font-family: YuGothic;
    // 基本文字サイズ
    font-size: 14px;

    > article > section > p {
      margin-bottom: 1rem;
    }
  }

  // h1
  &-title {
    font-family: YuGothic;
    font-size: 24.5px;

    &-cover {
      > .custom-date {
        font-size: 14px;
      }
    }
  }

  // section
  &-contents-cover {
    > h2 {
      padding: 20px;
      margin-left: -20px;
      margin-right: -20px;
      font-family: YuGothic;
      font-size: 28px;
      color: #fff;
      background-color: #ff444f;
      border-radius: 4px;
    }
  }

  &-footer {
    width: 100%;
    min-width: 320px;
    color: #fff;
    text-align: center;
    background-color: #ff444f;
  }
}

// template
// 目次（toc.js）
.toc {
  &-cover {
    padding: 15px;
    border: solid 1px #ccc;
    border-radius: 4px;
  }

  &-title {
    margin: var(--spacing-0);
    margin-bottom: 5px;
    color: #000;
    font-size: 17px;
    text-align: center;
  }
  
  &-list-cover {
    > ul {
      margin: var(--spacing-0);

      > li {
        text-indent: 17px;
      }
    }
  }
}

// 人気ランキング（デモ）
.aside-cover {
  display: flex;
  justify-content: center;
}

.rank {
  &-cover {
    max-width: 300px;
    padding: 0 40px 0;
    padding-bottom: 10px;
    background-color: #ffeaeb;
    border-radius: 5px;
  }

  &-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    > h3 {
      max-width: 190px;
      padding: 8px;
      margin: var(--spacing-0);
      color: #fff;
      font-size: 16px;
      background-color: #ff444f;
      border-radius: 0 0 5px 5px;
    }
  }

  &-list {
    &:not(:last-of-type) {
      margin-bottom: 35px;
    }

    &-cover {
      list-style-type: none;
    }

    &-thub {
      height: 141px;
      background-color: #ddd;
    }

    &-title {
      margin-top: 15px;
      font-size: 16px;
      text-decoration: underline;
    }

    &-text {
      margin-top: 10px;
      font-size: 14px;
    }
  }
}

// components
// buo.js
.bio {
  &-about-table {
    font-weight: bold;
    border: 1px solid #bbb;

    > tbody > tr > td {
      height: 40px;
      text-align: center;

      &:first-of-type {
        background-color: #fff;
      }
    }
  }
}

// toLpButton.js
.tolpbutton {
  max-width: 450px;
  margin: 30px auto;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  background-color: #ff7d85;
  border-radius: 5px;
  box-sizing: border-box;

  > a {
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;

    > span {
      display: block;
    }
  }

  &-cover {
    margin: 0 auto;
  }
}