// 記事一覧
.post-list {
  &-title {
    margin-bottom: var(--spacing-2);
    margin-top: var(--spacing-0);
    color: #000;
    font-size: 17px;
    font-weight: 550;
    line-height: 24px;
    text-decoration: underline;
  }
}

// 個別記事
.custom {
  &-wrapper {
    padding: 40px 0 0;
  }

  &-header {
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    width: 100%;
    min-width: 320px;
    padding: 10px 5px;
    text-align: center;
    background: #fff;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;

    > a {
      color: #ff444f;
      font-weight: bold;
      text-decoration: none;
    }
  }

  &-main {
    padding: 30px 20px 0;
    font-family: YuGothic;
    // 基本文字サイズ
    font-size: 14px;
    background-color: #f8f7f3;

    > article > section > p {
      margin-bottom: 1rem;
    }
  }

  // h1
  &-title {
    font-family: YuGothic;
    font-size: 24.5px;

    &-cover {
      > .custom-date {
        font-size: 14px;
      }
    }
  }

  // section
  &-contents-cover {
    > h2 {
      padding: 20px;
      margin-left: -20px;
      margin-right: -20px;
      font-family: YuGothic;
      font-size: 28px;
      color: #fff;
      background-color: #FF444F;
      border-radius: 4px;
    }
  }

  &-footer {
    width: 100%;
    min-width: 320px;
    color: #fff;
    text-align: center;
    background-color: #ff444f;
  }
}

// template
// 目次（toc.js）
.toc {
  &-cover {
    padding: 15px;
    border: solid 1px #ccc;
    border-radius: 4px;
  }

  &-title {
    margin: var(--spacing-0);
    margin-bottom: 5px;
    color: #000;
    font-size: 17px;
    text-align: center;
  }
  
  &-list-cover {
    > ul {
      margin: var(--spacing-0);

      > li {
        text-indent: 17px;
      }
    }
  }
}