.custom {
  &-wrapper {
    padding: 40px 0 0;
    text-align: center;
  }

  &-header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    min-width: 320px;
    padding: 10px 5px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;

    > a {
      color: #ff444f;
      font-weight: bold;
      text-decoration: none;
    }
  }

  &-main {
    padding: 0 20px 0;
    margin-top: 30px;
  }

  &-footer {
    width: 100%;
    min-width: 320px;
    color: #fff;
    background-color: #ff444f;
  }
}